@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <button id="by-name">Search by Name and Artist</button>
            <div id="song-form">
                <label for="artist">Artist: </label>
                <input type="text" id="artist" /><br />
                <label for="song">Song Name: </label>
                <input type="text" id="song" /><br />
                <input type="submit" value="Submit" id="submit" />
            </div>
            <div id="name-lyrics"></div>
        </div>
        <div class="col-4">
            <button id="by-name">Search by partial lyrics</button>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/js/music-js.js"></script>